.about__container {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__galery {
  margin-right: 30px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}

.about__img {
  @media screen and (min-width: 768px) {
    width: 330px;
  }
}

.section-text {
  line-height: 1.86;
  color: $secondary-text-color;
  margin-bottom: 20px;

  &--small {
    margin-bottom: 40px;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }
}
