.footer {
  padding-top: 44px;
  padding-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  @media screen and (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    display: inline-block;
    min-width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: $main-title-color;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer__link {
  color: $main-title-color;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.copyright {
  color: $main-text-color;
}
