.reviews {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 135px;
  }
}

.reviews__text {
  margin-bottom: 44px;

  font-size: 18px;
  line-height: 1.67;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc((100% - 30px) / 2);
  height: 133px;
  margin-right: 30px;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  background-color: $secondary-bg-color;

  &:nth-child(even) {
    margin-right: 0px;
    transform: translateY(35px);
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.reviews__number {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.reviews__plus {
  font-weight: 600;
  font-size: 14px;
  color: $accent-color;
}
