// fonts
$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

// colors
$accent-color: #ff6c00;
$main-bg-color: #111319;
$secondary-bg-color: #f7f7f7;
$main-title-color: #303030;
$secondary-title-color: #ffffff;
$main-text-color: #9da4bd;
$secondary-text-color: #555555;
$service-text-color: rgba(157, 164, 189, 0.6);

// transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
